@if (article(); as article) {
  <section>
    <article itemscope itemtype="http://schema.org/Article">
      <meta itemprop="datePublished" [content]="article.createdAt">
      <meta itemprop="image" content="/articles/{{ article.slug }}/img/cover.png">
      <meta itemprop="publisher" content="plutoniumx.vercel.app">

      <meta name="title" [content]="article.title">
      <meta name="description" [content]="article.description">
      <meta name="author-name" [content]="article.authorName">
      <meta name="author-image" [content]="article.authorImage">
      <meta name="author-link" [content]="article.authorLink">

      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ BASE_URL }}/articles/{{ article.slug }}">
      <meta property="og:title" [content]="article.title">
      <meta property="og:description" [content]="article.description">
      <meta property="og:image" content="/articles/{{ article.slug }}/img/cover.png">
      
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" [content]="article.title">
      <meta name="twitter:text:title" [content]="article.title">
      <meta name="twitter:description" [content]="article.description">
      <meta name="twitter:image" content="/articles/{{ article.slug }}/img/cover.png">
      <meta name="twitter:url" content="{{ BASE_URL }}/articles/{{ article.slug }}">
      
      <h1 class="heading mb-8 max-w-5xl mx-auto">{{ article.title }}</h1>

      <div class="bg-white rounded-full secondary-shadow w-fit mx-auto p-3">
        <app-hashtag-list class="text-xl" [hashtags]="article.hashtags"/>
      </div>
      
      <p class="text-lg md:text-xl md:text-center my-6">{{ article.description }}</p>
      
      <!-- Article metadata -->
      <div class="flex flex-row items-center md:justify-center flex-wrap gap-4 mb-12">
        <div class="flex items-center gap-4">
          <div class="bg-white secondary-shadow rounded-full flex items-center gap-3 p-2 pr-4">
            <img [src]="article.authorImage" class="w-6 rounded-full" error="/icons/user.png" [alt]="article.authorName">
            <a class="text-primary hover:underline" target="_blank" rel="noopener" rel="noreferrer" itemprop="author" [name]="article.authorName" [href]="article.authorLink">By {{ article.authorName }}</a>
          </div>
        </div>
        <div class="bg-white secondary-shadow rounded-full px-4 py-2 w-fit" itemprop="datePublished">Posted on {{ article.createdAt }}</div>
        <a class="text-primary bg-white secondary-shadow rounded-full px-4 py-2 w-fit hover:underline" [href]="article.source" target="_blank">source</a>
      </div>

      <div class="max-w-4xl mx-auto mb-10">
        <div>
          <img class="mb-10 rounded-xl" ngSrc="/articles/{{ article.slug }}/img/cover.png" priority [alt]="article.title" width="1200" height="675">
        </div>
        @defer {
          <app-save-button [slug]="article.slug"/>
        }
        @placeholder {
          <button class="btn-primary" routerLink="/login">Login</button>
        }
        <div class="mb-10">
          <app-render-markdown [markdown]="article.markdown"/>
        </div>
        @defer {
          <app-save-button [slug]="article.slug"/>
        }
        @placeholder {
          <button class="btn-primary" routerLink="/login">Login</button>
        }
      </div>

      <div class="max-w-2xl mx-auto">
        @defer (on viewport) {
          <app-comment-box [slug]="article.slug"/>
        }
        @placeholder {
          <div class="flex justify-center">
            <div class="loading"></div>
          </div>
        }
      </div>
    </article>
  </section>  
}