<section>
  <div class="px-4 md:px-8 mb-12">
    <app-featured-article/>
  </div>

  @if (user(); as user) {
    <div class="bg-neutral max-w-md mx-auto p-6 md:p-8 md:rounded-md">
      <h1 class="font-bold text-center text-2xl flex gap-2 mb-4">
        <span>Welcome</span>
        <span class="text-primary">{{ user.displayName }}</span>
      </h1>

      <p class="mb-4">See your saved articles</p>

      <button class="btn btn-secondary" routerLink="/dashboard">Go to dashboard</button>
    </div>
  } 
</section>
