section {
  animation: route-in 300ms ease-in-out;
  transform: translateY(0%);
  opacity: 1;
}

@keyframes route-in {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.modal-open {
  animation: modal-open 200ms ease;
  transform: scale(1);
  opacity: 1;
}

@keyframes modal-open {
  from {
    transform: scale(.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-close {
  animation: modal-close 200ms ease;
  transform: scale(.9);
  opacity: 0;
}

@keyframes modal-close {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(.9);
    opacity: 0;
  }
}

.modal-overlay-open {
  animation: modal-overlay-open 300ms;
  opacity: 1;
}

@keyframes modal-overlay-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay-close {
  animation: modal-overlay-close 450ms;
  opacity: 0;
}

@keyframes modal-overlay-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


// loading
.loading {
  width: 64px;
  height: 64px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid hsl(186, 70%, 27%);
  border-color: hsl(186, 70%, 27%) transparent hsl(186, 70%, 27%) transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
