.btn {
  @apply flex gap-4 justify-center items-center px-8 py-3 rounded-full transition-opacity;

  // box-shadow: 0 0 25px var(--shadow);

  &:hover {
    @apply opacity-90;
  }

  &-sm {
    @apply px-4 py-1;
  }

  &-neutral {
    @apply bg-neutral;
  }

  &-primary {
    @apply bg-primary text-base-100;
  }

  &-secondary {
    @apply bg-secondary text-primary;
    box-shadow: none
  }
  
  &-success {
    @apply bg-success text-base-100;
  }
  
  &-error {
    @apply bg-error text-base-100;
  }
}

.alert {
  @apply flex items-center gap-4 px-4 py-4 rounded-full select-none;

  &-close {
    @apply cursor-pointer;
  }

  &-icon {
    @apply flex justify-center items-center bg-base-100 w-10 h-8 rounded-full;
  }

  &-primary {
    @apply bg-primary text-base-100;
  }

  &-error {
    @apply bg-error text-base-100;
  }
}

.input {
  @apply grid gap-3;

  label {
    @apply select-none;
  } 
  
  input {
    @apply px-5 py-3 rounded;

    box-shadow: 0 0 25px var(--shadow);
    
    &::placeholder {
      @apply text-primary opacity-50 select-none;
    }
  }
}

.markdown {
  min-width: 0;

  h2 {
    @apply text-primary font-bold text-3xl mb-6 capitalize;
  }
  
  p {
    @apply text-lg mb-6;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  pre {
    @apply bg-neutral rounded-lg p-4 md:p-7 mb-12;
    max-width: 100%;
    position: relative;
    overflow: auto;
    box-shadow: 0 0 25px var(--shadow);
  }
  
  /* width */
  pre::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  /* Track */
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  pre::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }
  
  /* Handle on hover */
  pre::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
  
  code {
    font-family: 'Fira Code', sans-serif;
  }    
}

