@layer components {
  .inter-tight {
    font-family: "Inter Tight", sans-serif;
  }
  
  .heading {
    @apply inter-tight font-bold bg-gradient-to-br from-primary to-teal-500 text-5xl md:text-6xl lg:text-7xl text-center text-transparent bg-clip-text select-none pb-3;
  }

  .btn {
    @apply flex justify-center items-center hover:opacity-95 rounded-full gap-3 py-3 px-8 select-none transition-opacity;
  }
  
  .btn.sm {
    @apply py-1 px-4;
  }

  .btn.primary {
    @apply bg-primary text-secondary;
  }
  
  .btn.secondary {
    @apply bg-secondary text-primary;
  }

  .btn.red {
    @apply bg-red-500 text-red-50;
  }

  .btn.disabled {
    @apply bg-slate-200 text-slate-400;
  }

  fieldset {
    @apply grid gap-2;
    label {
      @apply capitalize;
    }
    input, textarea {
      @apply border-[1px] border-slate-400/50 rounded px-4 py-3 outline-0;
    }
  }
  
  .custom-shadow {
    box-shadow: 0 0 25px #132a3405;
  }
  
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .max-width {
    @apply max-w-[1920px];
  }
  
  .markdown {
    @apply min-w-0;

    h2 {
      @apply font-bold text-primary text-2xl md:text-3xl mt-12 mb-6 px-2;
    }
    
    p {
      @apply leading-7 mb-6 px-2;
    }
    
    pre {
      @apply relative overflow-auto text-sm md:text-base bg-neutral max-w-full p-4 md:p-8 mb-6 rounded custom-shadow;
    }
    
    code {
      font-family: "Fira Code", monospace;
    }   
    
    .alert-info {
      @apply bg-emerald-100/75 text-emerald-700 border-l-2 border-emerald-500 flex items-center gap-4 px-4 py-3 md:px-6 md:py-5 mb-6;
      img {
        @apply w-6 h-6;
      }
    }
    
    .alert-warning {
      @apply bg-red-100/75 text-red-700 border-l-2 border-red-500 flex items-center gap-4 px-4 py-3 md:px-6 md:py-5 mb-6;
      img {
        @apply w-6 h-6;
      }
    }
  }
  
  .scroll-watcher {
    @apply bg-primary fixed top-0 z-50 w-full h-[1px] opacity-50 rounded-full; 
    scale: 0 1;
    animation: scroll-animation linear;
    animation-timeline: scroll();
  }
}

@keyframes scroll-animation {
  to {
    scale: 1 1;
  }
}
