@import 'tailwindcss';

@import './utilities.css';
@import './components.css';
@import './syntax.css';

@theme {
  --color-primary: #156b75;
  --color-primary-hover: #15646c;
  --color-secondary: #e1f9f8;
  --color-secondary-hover: #cff7f3;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply text-slate-800;
  font-family: "Inter", sans-serif;
}

section {
  animation: route-in 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateY(0%);
}

@keyframes route-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hot-toast-checkmark-icon, .hot-toast-info-icon {
  background-color: var(--color-primary) !important;
}

.hot-toast-bar-base {
  border-radius: 100px !important;
}


