@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.scss';
@import './animations.scss';  
@import './icons.scss';
@import './syntax.scss';

body {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

::selection{
  @apply bg-base-300 text-primary;  
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: theme('colors.slate.300'); 
  border-radius: 100px;
}
