@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components.scss';
@import 'utilities.scss';
@import 'syntax.scss';

:root {
  --primary: #156b75;
  --primary-hover: #15646c;
  --secondary: #e1f9f8;
  --secondary-hover: #cff7f3;
}

html {
  scroll-behavior: smooth;
}

section {
  animation: route-in 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateY(0%);
}

@keyframes route-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}