code[class*="language-"],
pre[class*="language-"] {
  color: #4b505b;
}

.token.atrule {
  color: #9b4bd1;
}

.token.attr-name {
  color: #ffcb6b;
}

.token.attr-value {
  color: #55e679;
}

.token.attribute {
  color: #55e679;
}

.token.boolean {
  color: #9b4bd1;
}

.token.builtin {
  color: #ffcb6b;
}

.token.cdata {
  color: #45c4b7;
}

.token.char {
  color: #80cbc4;
}

.token.class {
  color: #ffcb6b;
}

.token.class-name {
  color: #80cbc4;
}

.token.color {
  color: #80cbc4;
}

.token.comment {
  color: #546e7a;
}

.token.constant {
  color: #9b4bd1;
}

.token.deleted {
  color: #f07178;
}

.token.doctype {
  color: #546e7a;
}

.token.entity {
  color: #f07178;
}

.token.function {
  color: #9b4bd1;
}

.token.hexcode {
  color: #f2ff00;
}

.token.id {
  color: #9b4bd1;
}

.token.important {
  color: #9b4bd1;
}

.token.inserted {
  color: #80cbc4;
}

.token.keyword {
  color: #9b4bd1;
}

.token.number {
  color: #fd9170;
}

.token.operator {
  color: #676e7c;
}

.token.prolog {
  color: #546e7a;
}

.token.property {
  color: #80cbc4;
}

.token.pseudo-class {
  color: #55e679;
}

.token.pseudo-element {
  color: #55e679;
}

.token.punctuation {
  color: #676e7c;
}

.token.regex {
  color: #f2ff00;
}

.token.selector {
  color: #f07178;
}

.token.string {
  color: #4bce6c;
}

.token.symbol {
  color: #974dc9;
}

.token.tag {
  color: #f07178;
}

.token.unit {
  color: #f07178;
}

.token.url {
  color: #fd9170;
}

.token.variable {
  color: #f07178;
}