.font-body {
  font-family: "Inter", sans-serif;
}

.font-heading {    
  font-family: "Inter tight", sans-serif;
}

.max-app-width {
  max-width: 1900px;
}

.custom-shadow {
  box-shadow: 0 0 50px #51001b07;
}
