.max-app-width {
  max-width: 1900px;
}

.font-body {
  font-family: "Inter", sans-serif;
}

.font-heading {    
  font-family: "Inter tight", sans-serif;
}

.custom-shadow {
  box-shadow: 0 0 25px #2355510d;
}
