@if (view$ | async; as view) {
  <section class="max-w-6xl mx-auto">
    <h1 class="heading mb-8 md:mb-12">Dashboard</h1>
    @if (view.user; as user) {
      <div class="bg-neutral grid gap-6 p-8 mb-12 md:rounded select-none">
        <div class="flex flex-col md:flex-row items-center gap-6 mx-auto">
          <img [src]="user.photoURL" alt="user" fallbackImage="/assets/img/user.png" class="rounded-full w-20">
          <div class="">
            <h1 class="text-2xl text-primary font-bold mb-1">{{ user.displayName }}</h1>
            <p class="text-md">{{ user.email }}</p>
            <p>Joined {{ user.created }}</p>
          </div>
        </div>
        <div class="">
          <button class="btn red px-8 mx-auto" (click)="openLogout()">Logout</button>
        </div>
      </div>
    }

    <h1 class="font-bold text-center text-2xl text-primary mb-8 md:mb-12">Your Saved Articles</h1>
    @if (view.articles; as articles) {
      <div class="px-4 md:px-8">
        @if (articles.length) {
          <app-article-list [articles]="articles"/>
        } 
        @else {
          <div class="bg-neutral p-4 md:p-8 rounded">
            <p class="text-md mb-2">You have no saved articles yet!</p>
            <a routerLink="/articles" class="underline">See some articles</a>
          </div>
        }
      </div>
    }
  </section>
}