<section>
  <h1 class="page-heading">Dashboard</h1>
  @if (view(); as view) {
    <div class="grid md:grid-cols-[350px_1fr] gap-8 max-w-7xl mx-auto">
      @if (view.user; as user) {
        <div class="relative md:sticky md:top-32 h-min bg-neutral grid gap-4 md:gap-6 p-6 md:p-8 md:rounded-md select-none">
          <img [src]="user.photoURL" alt="user" fallbackImage="/assets/img/user.png" class="rounded-full w-20">
          <div>
            <h1 class="text-2xl text-primary font-bold mb-1">{{ user.displayName }}</h1>
            <p class="text-lg">{{ user.email }}</p>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <button class="btn" [class]="user.isPro ? 'btn-primary' : 'btn-secondary'" (click)="openProModal()">
              <span>{{ user.isPro ? 'PRO' : 'Basic' }}</span>
            </button>
            <button class="btn btn-error" (click)="openLogoutModal()">Logout</button>
          </div>
        </div>
      }
      @if (view.articles; as articles) {
        @if (articles.length) {
          <div class="grid gap-4 md:gap-8 md:bg-neutral p-4 md:p-8 rounded-md">
            <h1 class="font-bold text-xl md:text-2xl text-primary flex gap-4 items-center select-none">
              <span>Saved Articles</span>
              <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
            </h1>
            <div>
              <app-article-list [articles]="articles"/>
            </div>
          </div>
        } 
        @else {
          <div class="bg-neutral p-4 md:p-8 rounded-lg">
            <p class="text-lg mb-2">You have no saved articles yet!</p>
            <a routerLink="/articles" class="underline">See some articles</a>
          </div>
        }
      }
    </div>
  }
  @else {
    <app-loading />
  }
</section>