<section>
  <h1 class="heading mb-8 md:mb-12">About Plutonium</h1>

  <div class="max-w-2xl md:text-center mx-auto">
    <p class="mb-6">Plutonium is web-based blog platform where you can learn reactive and declarative programming in <a href="https://angular.dev" target="_blank" rel="noopener" rel="noreferrer">Angular</a> and some other frameworks.</p>
  
    <div class="flex items-center justify-center gap-6">
      <a class="text-primary hover:underline" [href]="social.twitter" target="_blank" rel="noopener" rel="noreferrer">Twitter</a>
      <a class="text-primary hover:underline" [href]="social.github" target="_blank" rel="noopener" rel="noreferrer">Github</a>
      <a class="text-primary hover:underline" [href]="social.instagram" target="_blank" rel="noopener" rel="noreferrer">Instagram</a>
      <a class="text-primary hover:underline" [href]="social.youtube" target="_blank" rel="noopener" rel="noreferrer">Youtube</a>
    </div>
  </div>
</section>
