<div class="grid place-content-center h-96">
  <div class="flex gap-4 md:gap-6 items-center justify-center mb-6">
    <a class="text-primary hover:underline" routerLink="/">Home</a>
    <a class="text-primary hover:underline" routerLink="/about">About</a>
    <span class="text-primary hover:underline" (click)="openLoginModal()">Login</span>
    <a class="text-primary hover:underline" routerLink="/articles">Articles</a>
  </div>
  <p class="text-center">Developed by <a class="text-primary hover:underline" href="https://panesar.dev" target="_blank">Sukhpreet Singh</a></p>
</div>
