<section>
  <div class="max-w-3xl mx-auto mb-20">
    <h1 class="heading capitalize mb-4">reactivity focused coding tutorials</h1>
    <p class="text-xl md:text-center mb-8">Learn reactive and declarative programming with rxjs</p>
    <button class="btn-primary md:mx-auto" routerLink="/articles">
      <span>See some articles</span>
      <i class="w-5">
        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.12,9.91,19.25,6a1,1,0,0,0-1.42,0h0a1,1,0,0,0,0,1.41L21.39,11H1a1,1,0,0,0-1,1H0a1,1,0,0,0,1,1H21.45l-3.62,3.61a1,1,0,0,0,0,1.42h0a1,1,0,0,0,1.42,0l3.87-3.88A3,3,0,0,0,23.12,9.91Z"/></svg>
      </i>
    </button>
  </div>

  @if (featured$ | async; as featured) {
    <div class="max-w-4xl mx-auto">
      <app-featured [article]="featured"/>
    </div>
  }
</section>
