@if (article(); as article) {
  <section>
    <article itemscope itemtype="http://schema.org/Article">
      <meta itemprop="datePublished" [content]="article.createdAt">
      <meta itemprop="image" [content]="article.coverUrl">
      <meta itemprop="publisher" content="plutoniumx.vercel.app">
      <meta name="title" [content]="article.title">
      <meta name="description" [content]="article.description">
      <meta name="author-name" [content]="article.authorName">
      <meta name="author-image" [content]="article.authorImage">
      <meta name="author-link" [content]="article.authorLink">
      <meta property="og:type" content="website">
      <meta property="og:url" [content]="article.url">
      <meta property="og:title" [content]="article.title">
      <meta property="og:description" [content]="article.description">
      <meta property="og:image" [content]="article.coverUrl">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" [content]="article.title">
      <meta name="twitter:text:title" [content]="article.title">
      <meta name="twitter:description" [content]="article.description">
      <meta name="twitter:image" [content]="article.coverUrl">
      <meta name="twitter:url" [content]="article.url">
      
      <div class="mb-12">
        <h1 class="heading mb-8 md:mb-12 max-w-5xl mx-auto">{{ article.title }}</h1>

        <div class="bg-surface rounded-full custom-shadow w-fit mx-auto p-3">
          <app-hashtag-list class="text-xl" [hashtags]="article.hashtags"/>
        </div>
        
        <p class="text-lg md:text-xl md:text-center my-6">{{ article.description }}</p>
        
        <app-article-header [article]="article"/>
      </div>

      <div class="max-w-4xl mx-auto mb-20">
        <div>
          <img class="mb-10 rounded-md" ngSrc="/articles/{{ article.slug }}/img/cover.png" [onError]="'/articles/'+article.slug+'/img/cover.webp'" priority [alt]="article.title" width="1200" height="675">
        </div>
        @defer {
          <app-save-button [slug]="article.slug"/>
        }
        @placeholder {
          <button class="btn-primary" routerLink="/auth/login">Login</button>
        }
        <app-render-markdown [markdown]="article.markdown"/>
      </div>
      
      <!-- <div class="max-w-2xl mx-auto">
        @defer (on viewport) {
          <app-comment-box [slug]="article.slug"/>
        }
        @placeholder {
          <div class="flex justify-center">
            <div class="loading"></div>
          </div>
        }
      </div> -->
    </article>
  </section>  
}