@if (user$ | async; as user) {
  <section>
    <h1 class="heading mb-8 md:mb-12">Dashboard</h1>

    <app-profile-card [user]="user" (logout)="openLogout()"/>

    <h1 class="text-primary md:text-center font-bold text-3xl mb-2">Saved Articles</h1>

    @if (articles$ | async; as articles) {
      <p class="md:text-center mb-8">Access your saved articles here.</p>
      @if (articles.length) {
        <div class="max-w-6xl mx-auto">
          <app-article-list [articles]="articles"/>
        </div>
      }
      @else {
        <div class="card max-w-2xl mx-auto">
          <p class="mb-4">You do not have saved articles yet.</p>
          <a class="text-primary hover:underline" routerLink="/articles">See articles</a>
        </div>
      }
    }
  </section>
}
