.panel-open {
  transform: translateX(0%);
  animation: panel-open 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes panel-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.panel-close {
  transform: translateX(-100%);
  animation: panel-close 650ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes panel-close {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.panel-overlay-open {
  animation: panel-overlay-open 500ms ease;
  opacity: 1;
  display: block;
}

@keyframes panel-overlay-open {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

.panel-overlay-close {
  animation: panel-overlay-close 650ms ease;
  opacity: 0;
  display: none;
}

@keyframes panel-overlay-close {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}