<section class="select-none">
  <h1 class="heading mb-8">Forget password</h1>

  <div class="card grid gap-6 max-w-sm mx-auto">
    @if (error()) {
      <p class="alert alert-danger w-full cursor-pointer mb-1" (click)="error.set(null)">{{ error() }}</p>
    }
  
    <form class="grid gap-4" [formGroup]="form" (submit)="submit(form.getRawValue())">
      <p>Enter email address associated with your account.</p>

      <div class="input-field">
        <input type="email" name="email" formControlName="email" id="email" class="peer" placeholder=" " />
        <label for="email" class="peer-focus:text-primary peer-focus:top-1 peer-focus:left-2.5 peer-focus:scale-75 peer-focus:-translate-y-4 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
          <span>Email address</span>
        </label>
      </div>

      <button class="btn-primary" type="submit" [disabled]="form.invalid">Send reset password email</button>

      <p class="text-center text-sm">
        Already have an account? <a class="text-primary hover:underline cursor-pointer" routerLink="/login">login</a>
      </p>
  
      <p class="text-center text-sm">
        Don't have an account? <a class="text-primary hover:underline cursor-pointer" routerLink="/create-account">sign up</a>
      </p>
    </form>
  </div>
</section>