<section class="select-none">
  <h1 class="heading mb-8">Reset password</h1>

  <div class="card max-w-md mx-auto md:p-10">
    @if (error()) {
      <p class="alert alert-danger cursor-pointer mb-6" (click)="error.set(null)">{{ error() }}</p>
    }

    <form [formGroup]="form" (submit)="submit()">
      <fieldset class="mb-6">
        <label>
          <span>Email address <span class="text-red-500">*</span></span>
        </label>
        <input type="email" name="email" formControlName="email" placeholder="john.wick@example.com">
      </fieldset>

      <button class="btn-primary w-full mb-6">Send reset email</button>
      
      <p class="text-center text-sm mb-3">
        Already have an account? <a class="text-primary hover:underline" routerLink="/login">login</a>
      </p>
  
      <p class="text-center text-sm">
        Don't have an account? <a class="text-primary hover:underline" routerLink="/create-account">sign up</a>
      </p>
    </form>
  </div>

</section>
